@charset "UTF-8";

body{
    background-image: linear-gradient(#dd1111,white);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    height: 100vh;
    width: 100vw;
    padding: 0;
}

/* reset de margem e padding para todos os elementos */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.container{
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

header{
    background-color: rgb(255, 255, 255);
    width: 100%;
    padding: 10px;
    height: 140px;
}

.logo, .sociais{
    width:25%;
}

.logo img{
    width: 250px;
    cursor: pointer;
}

/* estilo do menu de navegação */
.menu{
    width: 50%;
}

.menu nav a{
    color: red;
    text-decoration: none;
    padding-right: 10px;
    font-size: 20px;
    position: relative;
}

.menu nav a::after{
    content:"";
    width: 0px;
    height: 4px;
    background-image: linear-gradient(45deg,#dd1111, #e04e69);
    position: absolute;
    top: 25px;
    left: 8px;
    transition: width 0.5s;
}

.menu nav a:hover::after{
    width: 50px;
}

.sociais button{
    width: 30px;
    height: 30px;
    font-size: 25px;
    background-image: linear-gradient(45deg,#FCAF45, #FF718B);
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
/* estilo da caixa de pesquisa */
.search-box {
    background: red;
    position: absolute;
    top:13%;
    left:50%;
    transform: translate(-50%, -50%);
    height: 30px;
    padding: 10px;
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 450px;
}

.search-text{
    border: none;
    background: none;
    outline: none;
    padding: 0;
    color: black;
    font-size: 16px;
    line-height: 40px;
}

/* estilo do slideshow */
.slideshow{
    position: absolute;
    top: 100px;
    left: 50%; 
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;  
}

.slider{
    width: 800px;
    height: 500px;
    overflow: hidden; /* esconde conteúdo além do limite */
    margin-top: 50px;
}

.slides{
    display: flex;
}

.navigation-bar{
    position: absolute;
    bottom: 20px;

    left: 50%;
    transform: translate(-50%);
    display: flex;
}

input{
    display: none;
} /* esconde o input */

.manual-btn{
    border: 2px solid #dd1111;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.manual-btn:not(:last-child) {
    margin-right: 30px;  
}

.manual-btn:hover{
    background: #dd1111;
    transition: 0.4s;
}

.slides{
    display: flex;
    width: 400%;
    height: 100%;
}

.slide{
    width: 25%;
    transition: 0.5s;
}

.slide img{
    width: 100%;
    height: 100%;
}

/* estilo dos slides baseado na seleção do radio button */
#radio1:checked ~ .first {
    margin-left: 0;
}

#radio2:checked ~ .first {
    margin-left: -25%; 
}

#radio3:checked ~ .first {
    margin-left: -50%;  
}

#radio4:checked ~ .first {
    margin-left: -75%; 
}


.white-box{
    
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 6px 6px 22px 2px black;
    margin-top: 600px;
}

.items{

    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 30px
}

.item{
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.product{
    text-align: center;
    background-color: #E9EEF2;
    height: 220px;
    width: 100%;
    border-radius: 5px;
}

.product.sell .sell{
    position: absolute;
    top:0px;
    left: 0px;
    background-color: white;
    color: white;
    padding: 5px;
    font-size: 0.9rem;
    font-weight: bold;
}
.item img{
    margin-top: 10px;
    height: 90%;
}
